@font-face {
    font-family: "NotoSans";
    src: url(asset/font/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
    font-family: "audio";
    src: url(asset/font/Audiowide-Regular.ttf);
}

.company-font {
    background-color: rgb(231, 131, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-font-hr {
    margin: 1px;
}

.PRODUCT-CARD {
    display: flex;
}

.PRODUCT-CARD .card {
    margin: 10px 30px 10px 30px;
    width: 18rem;
    height: 56rem;
}

.PRODUCT-CARD .card img {
    padding: 25px;
}

.class-img {
    height: 30rem;
}

.Row .PRODUCT-CARD {
    align-self: center;
    justify-content: center;
}

.btn-primary {
    background-color: rgb(231, 131, 0);
}

@media screen and (max-width: 850px) {
    .PRODUCT-CARD {
        display: block;
    }

    .PRODUCT-CARD .card {
        margin: 10px;
        width: 15rem;
        height: 56rem;
    }
}